  body		{margin:0%;
  		padding:0%;
		color:#000000;
		background-color:#ffffff;
		font-family: sans-serif;
		}
		
  #masthead	{font-size:3em;
  		color:#000000;
		background-color:#a9d1ff;
		padding:0.5em;
		text-align:center;
		}

  #menuRight	{float:right;
		width:22%;
		height:auto;
		margin-left:0%;
		color:#3179ac;
		background-color:#eae9e8;
		}
		
#menuLeft	{float:left;
		width:22%;
		height:auto;
		margin-left:0%;
		color:#3179ac;
		background-color:#eae9e8;
		}
#mainText	{margin:0 25% 0 25%;}

#foot		{text-align:center;
		font-size:smaller;
		}
		
a		{text-decoration:none;
		color:#3179ac;
		font-weight:bold;
		display:block;
		}
		
a:hover		{color:grey;}

ul		{list-style:none;}